PORT=5000
CLIENT_URL=http://localhost:5173

DATABASE_URL="postgresql://postgres:password@localhost:5432/garageflow"

ACCESS_TOKEN_SECRET="your_access_token_secret"
REFRESH_TOKEN_SECRET="your_refresh_token_secret"

GEMINI_API_KEY=""

UPSTASH_REDIS_REST_URL="your_upstash_redis_rest_url"
UPSTASH_REDIS_REST_TOKEN="your_upstash_redis_rest_token"